* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

button {
    cursor: pointer;
    font-family: "Vazirmatn";
}

body {
    font-family: "Vazirmatn";
    background-color: #f7f9fc;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 450px;
    text-align: center;
}

@media screen and (max-width: 600px) {
    .container {
        width: 91%;
    }
    
}

.inputs {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20px;
}

input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

button {
    padding: 10px 40px;
    margin: 20px 0px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}

.result {
    margin-top: 12px;
    font-size: 18px;
    font-weight: bold;
}

h2 {
    margin-bottom: 20px;
    color: #333;
}
label {
    /* background-color: red; */
    text-align: right;
    margin-top: 16px;
}
